<div class="mdui-valign" style="height: 100vh">
    <div class="mdui-container mdui-center" style="width: 40%">
        <div class="mdui-row mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">QQ</label>
            <input class="mdui-textfield-input" id="QQ" required>
        </div>
        <div class="mdui-row mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">原因</label>
            <input class="mdui-textfield-input" id="reason" required>
        </div>
        <div class="mdui-row">
            <button class="mdui-btn mdui-btn-raised mdui-center mdui-ripple mdui-color-pink mdui-m-a-5" id="submit">添加</button>
        </div>
    </div>
</div>
<script src="/static/system/js/add-ban.js"></script>