<div class="mdui-table-fluid">
    <table class="mdui-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>操作者</th>
                <th>封禁QQ</th>
                <th>原因</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody id="bans">
            {% for ban in bans %}
                <tr>
                    <td>{{ ban.id }}</td>
                    <td>{{ ban.operator }}</td>
                    <td>{{ ban.QQ }}</td>
                    <td>{{ ban.reason }}</td>
                    <td>{{ ban.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>